<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>img</key>
		<string>WXIMG</string>
		<key>imgWidget</key>
		<string>WXWIDGET</string>
		<key>title</key>
		<string>微信</string>
		<key>url</key>
		<string>weixin</string>
	</dict>
	<dict>
		<key>img</key>
		<string>QQIMG</string>
		<key>imgWidget</key>
		<string>QQWIDGET</string>
		<key>title</key>
		<string>QQ</string>
		<key>url</key>
		<string>mqq</string>
	</dict>
	<dict>
		<key>img</key>
		<string>ZFBIMG</string>
		<key>imgWidget</key>
		<string>ZFBWIDGET</string>
		<key>title</key>
		<string>支付宝</string>
		<key>url</key>
		<string>alipay</string>
	</dict>
	<dict>
		<key>img</key>
		<string>TTIMG</string>
		<key>imgWidget</key>
		<string>TTWIDGET</string>
		<key>title</key>
		<string>今日头条</string>
		<key>url</key>
		<string>snssdk141</string>
	</dict>
	<dict>
		<key>img</key>
		<string>TBIMG</string>
		<key>imgWidget</key>
		<string>TBWIDGET</string>
		<key>title</key>
		<string>淘宝</string>
		<key>url</key>
		<string>taobao</string>
	</dict>
	<dict>
		<key>img</key>
		<string>WBIMG</string>
		<key>imgWidget</key>
		<string>WBWIDGET</string>
		<key>title</key>
		<string>微博</string>
		<key>url</key>
		<string>sinaweibo</string>
	</dict>
	<dict>
		<key>img</key>
		<string>MTIMG</string>
		<key>imgWidget</key>
		<string>MTWIDGET</string>
		<key>title</key>
		<string>美团</string>
		<key>url</key>
		<string>imeituan</string>
	</dict>
	<dict>
		<key>img</key>
		<string>JDIMG</string>
		<key>imgWidget</key>
		<string>JDWIDGET</string>
		<key>title</key>
		<string>京东</string>
		<key>url</key>
		<string>openapp.jdmoble</string>
	</dict>
	<dict>
		<key>img</key>
		<string>YKIMG</string>
		<key>imgWidget</key>
		<string>YKWIDGET</string>
		<key>title</key>
		<string>优酷</string>
		<key>url</key>
		<string>youku</string>
	</dict>
	<dict>
		<key>img</key>
		<string>UCIMG</string>
		<key>imgWidget</key>
		<string>UCWIDGET</string>
		<key>title</key>
		<string>UC浏览器</string>
		<key>url</key>
		<string>ucbrowser</string>
	</dict>
	<dict>
		<key>img</key>
		<string>AQYIMG</string>
		<key>imgWidget</key>
		<string>AQYWIDGET</string>
		<key>title</key>
		<string>爱奇艺</string>
		<key>url</key>
		<string>ppstream</string>
	</dict>
</array>
</plist>
